<?xml version="1.0" encoding="utf-8" ?>
<server>
    <port>8001</port>
    <charset>GBK</charset>
    <logpath></logpath>
    <mvc>
        <handlers>
            <handler>org.jsxnh.view.handler.MyHandler</handler>
        </handlers>
        <interceptors>
            <interceptor>
                <name>inter</name>
                <class>org.jsxnh.view.handler.MyInterceptor</class>
            </interceptor>
        </interceptors>
        <statics>
            <static>static</static>
        </statics>
    </mvc>
</server>